* {
    background-color: rgb(67, 2, 152);
}

.main-container-2 {
    background-color: white;
    width: 80%;
    height: auto;
    font-size: large;
    margin-left: 7rem;
    padding: 10px;
}

.result-heading {
    text-align: center;
    color: white;
}

.p1,
.p2 {
    text-align: center;
}

.p1,
.p2,
.result-acc-ques,
.results-acc-result,
.q1,
.a1,
.play-again-back-home-btns,
.playAgain,
.backToHome {
    background-color: transparent;
}

.result-acc-ques {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.play-again-back-home-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.playAgain {
    position: relative;
    background-color: white;
    font-size: x-large;
    color: rgb(0, 145, 255);
    border: 2px solid rgb(0, 145, 255);
    left: 70px;
}

.backToHome {
    position: relative;
    right: 70px;
    font-size: x-large;
    background-color: white;
    color: green;
    border: 2px solid green;
}

h3{
    font-size: 25px;
}

h5{
    font-size: 20px;
}

h2 {
    font-size: 40px;
    color: blue;
}
